.input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d0d5dd !important;
  outline: none;
  transition: 200ms ease-in;
  padding-left: 1rem;
}

.input:focus {
  border-bottom: 4px solid #d0d5dd !important;
  padding-top: 2px;
  outline: none;
}

.input::placeholder {
  color: #4b5768;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.form-title {
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 3.2px;
}
.google-btn {
  width: 100%;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #e4e7eb;
  cursor: pointer;
  transition: all 0.6s ease;
}

.google-btn:hover {
  transform: scale(1.02);
}

.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
  --tw-bg-opacity: 1 !important;
  background-color: #299d91 !important;
  --tw-text-opacity: 1 !important;
  color: #fff !important;
}
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):not(summary):not(.active).focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):not(summary):not(.active):focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):is(summary):not(.active):focus-visible,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):not(summary):not(.active).focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):not(summary):not(.active):focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):is(summary):not(.active):focus-visible {
  cursor: pointer;
  background-color: #299d91 !important;
  --tw-text-opacity: 1 !important;
  color: #fff !important;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.react-tabs__tab-list {
  border-bottom: none !important;
}
.react-tabs__tab {
  border: none !important;
  border-bottom: 1px solid transparent;
}
.react-tabs__tab--selected {
  background: none !important;
  color: #299d91 !important;
  border-bottom: 1px solid #299d91 !important;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: none !important;
}
